@import './__font.css';
@import './__global.css';
@import './__root.css';

/* navbar styles */

.navbar {
  padding: 30px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 50px;

  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
  height: 100%;
}

.navbar__list-item {
  position: relative;
}

.navbar__list-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  border-radius: 2px;
}

/* Hero styles */

.hero {
  justify-content: space-between;
  padding: 100px 0 0 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__content-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.hero__content-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.625px;
}

.hero__content-btn {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* partners styles */

.partners {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* group styles */

.group {
  width: 100%;
}

.group__content {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.group__content-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.group__content-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* features styles */

.features {
  width: 100%;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.features__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.features__item-description {
  font-size: 16px;
}

/* price styles */

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.price__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__content-title {
  width: 550px;
}

.price__content-buttons {
  display: flex;
  padding: 5px;
  background: #F7F7FB;
  border-radius: 10px;
}

.price__list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.price__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 35px;
  width: 330px;
  border-radius: 16px;
  background: #F8F8F8;
}

.price__list-item-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.price__list-item-price {
  color: #1D293F;
}

.price__list-item-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price__list-item-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.price__list-item-button {
  width: 100%;
  border: 1px solid #E4E4E7;
  background: #fff;
  color: var(--secondary-color);
}

.price__list-item.recommended {
  background-color: var(--primary-color);
  transform: scale(1.1);

  .price__list-item-price,
  .price__list-item-label,
  .price__list-item-description p {
    color: #fff;
  }

  .price__list-item-button {
    border: none;
    background-color: #9F3919;
    color: #fff;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 40px 0;
  opacity: 0.4;
}

.placeholder {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 320px;
  height: 80px;
  background-color: #E7E7E7;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
